# Case Study 1 : Collecting Data from Twitter

Due Date: 2/8/2021, **BEFORE the beginning of class at 11:00am**

## **NOTE: There are *always* last minute issues submitting the case studies.  DO NOT WAIT UNTIL THE LAST MINUTE!**

<img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/220px-Twitter_bird_logo_2012.svg.png">

**TEAM Members:** Please EDIT this cell and add the names of all the team members in your team

    Kate Sincaglia
    
    Mitchell Sirois
    
    Bryson Tang

    Jyalu Wu

**Suggested Readings:** 
* Chapter 1 and Chapter 9 of the book "Mining the Social Web" can help a lot if you get stuck. 
* In fact, it is intentional that many of these questions can be answered directly from there (except for question 4)!
* The idea is to ease you into the case studies :-)

**Don't forget!**
* You will need to install the python-twitter library to access the Twitter API
 * pip install twitter


** NOTE **
* **Please don't forget to save the notebook frequently when working in IPython Notebook, otherwise the changes you made can be lost**.

# Problem 1 (20 points): Sampling Twitter Data with either Search or Streaming API about a certain topic

* Select a topic that you are interested in, for example, "WPI" or "Lady Gaga"
* Use Twitter API to sample a collection of tweets about this topic. (It would be recommended that the number of tweets should be larger than 200, but smaller than 1 million.
* Store the tweets you downloaded into a local file (txt file or json file)

In [4]:
import twitter
import json
from collections import Counter
from prettytable import PrettyTable

In [5]:
#---------------------------------------------
# Define a Function to Login Twitter API
def oauth_login():
    # Prof. Paffenroth has a developer account for the class.  He will provide the Twitter access tokens for
    # each team
    # See https://developer.twitter.com/docs/auth/oauth for more information 
    # on Twitter's OAuth implementation.
    
    CONSUMER_KEY = 'oVek8jmhI4sz8SbKnT1e6UsIh'
    CONSUMER_SECRET ='3eGB6ip82K3XowIDEmz9JXIbRc2uFSlHvjPJ8Lmkf3HVIdlmhM'
    OAUTH_TOKEN = '571213367-H0r2WfySE7L4vgUJHv4YLW2vZGLa7TEPP7iWsTNu'
    OAUTH_TOKEN_SECRET = 'uKcYixkDRaCUvaP2oqH9a9fIaIB9nf4NKz32iqo2t7B7K'

    
    auth = twitter.oauth.OAuth(OAUTH_TOKEN, OAUTH_TOKEN_SECRET,
                               CONSUMER_KEY, CONSUMER_SECRET)
    
    twitter_api = twitter.Twitter(auth=auth)
    return twitter_api

twitter_api = oauth_login()

#----------------------------------------------
# Your code starts here
#   Please add comments or text cells in between to explain the general idea of each block of the code.
#   Please feel free to add more cells below this cell if necessary

q = 'outage'

count = 100

# Import unquote to prevent URL encoding errors in next_results
from urllib.parse import unquote

search_results = twitter_api.search.tweets(q=q, count=count)

statuses = search_results['statuses']

for _ in range(5): #takes count 5 times, 100*5 = 500
    print('Length of statuses', len(statuses))
    try:
        next_results = search_results['search_metadata']['next_results']
    except KeyError as e: # No more results when next_results doesn't exist
        break

    # Create a dictionary from next_results, which has the following form:
    kwargs = dict([ kv.split('=') for kv in unquote(next_results[1:]).split("&") ])

    search_results = twitter_api.search.tweets(**kwargs)
    statuses += search_results['statuses']

# Show one sample search result by slicing the list...
print(json.dumps(statuses[0], indent=1))

Length of statuses 100
Length of statuses 200
Length of statuses 300
Length of statuses 400
Length of statuses 500
{
 "created_at": "Sun Feb 07 03:48:32 +0000 2021",
 "id": 1358261337105829888,
 "id_str": "1358261337105829888",
 "text": "MACHINE OUTAGE: An elevator servicing Street To Mezzanine @ Court Sq (NE corner of Jackson Avenue and 23rd Street) is out of service.",
 "truncated": false,
 "entities": {
  "hashtags": [],
  "symbols": [],
  "user_mentions": [],
  "urls": []
 },
 "metadata": {
  "iso_language_code": "en",
  "result_type": "recent"
 },
 "source": "<a href=\"http://www.nycaccessible.com\" rel=\"nofollow\">NYC Accessible</a>",
 "in_reply_to_status_id": null,
 "in_reply_to_status_id_str": null,
 "in_reply_to_user_id": null,
 "in_reply_to_user_id_str": null,
 "in_reply_to_screen_name": null,
 "user": {
  "id": 2994876652,
  "id_str": "2994876652",
  "name": "nycaccessible",
  "screen_name": "nycoutages",
  "location": "New York City",
  "description": "Elevator and Escalator status updates for the NYC Subway system",
  "url": "http://t.co/oeLUPzJ9Og",
  "entities": {
   "url": {
    "urls": [
     {
      "url": "http://t.co/oeLUPzJ9Og",
      "expanded_url": "http://www.nycaccessible.com",
      "display_url": "nycaccessible.com",
      "indices": [
       0,
       22
      ]
     }
    ]
   },
   "description": {
    "urls": []
   }
  },
  "protected": false,
  "followers_count": 96,
  "friends_count": 42,
  "listed_count": 4,
  "created_at": "Fri Jan 23 21:28:39 +0000 2015",
  "favourites_count": 15,
  "utc_offset": null,
  "time_zone": null,
  "geo_enabled": false,
  "verified": false,
  "statuses_count": 327131,
  "lang": null,
  "contributors_enabled": false,
  "is_translator": false,
  "is_translation_enabled": false,
  "profile_background_color": "022330",
  "profile_background_image_url": "http://abs.twimg.com/images/themes/theme15/bg.png",
  "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme15/bg.png",
  "profile_background_tile": false,
  "profile_image_url": "http://pbs.twimg.com/profile_images/560627508215693312/s_n6wUw6_normal.png",
  "profile_image_url_https": "https://pbs.twimg.com/profile_images/560627508215693312/s_n6wUw6_normal.png",
  "profile_banner_url": "https://pbs.twimg.com/profile_banners/2994876652/1422500001",
  "profile_link_color": "0084B4",
  "profile_sidebar_border_color": "A8C7F7",
  "profile_sidebar_fill_color": "C0DFEC",
  "profile_text_color": "333333",
  "profile_use_background_image": true,
  "has_extended_profile": false,
  "default_profile": false,
  "default_profile_image": false,
  "following": false,
  "follow_request_sent": false,
  "notifications": false,
  "translator_type": "none"
 },
 "geo": null,
 "coordinates": null,
 "place": null,
 "contributors": null,
 "is_quote_status": false,
 "retweet_count": 0,
 "favorite_count": 0,
 "favorited": false,
 "retweeted": false,
 "lang": "en"
}

### Report some statistics about the tweets you collected 

* The topic of interest: < INSERT YOUR TOPIC HERE>


* The total number of tweets collected:  < INSERT THE NUMBER HERE>

*-----------------------

# Problem 2 (20 points): Analyzing Tweets and Tweet Entities with Frequency Analysis

**1. Word Count:** 
* Use the tweets you collected in Problem 1, and compute the frequencies of the words being used in these tweets. 
* Plot a table of the top 30 words with their counts

In [6]:
import cloudpickle
import nltk
# import matplotlib.pyplot as plt
from prettytable import PrettyTable

# pickling/saving data
f = open('outages.pickle', 'wb')
cloudpickle.dump(statuses, f)
f.close()

# getting only the words in the tweets, clean them
words = []
result_set = set()

for tweet in statuses:
    text = tweet['text']
    text = text.lower()
    dirty_words = [ w for w in text.split() ]
    dirty_words = [word.strip('.,!;()[]:') for word in dirty_words]
    dirty_words = [word.replace("'s", '') for word in dirty_words]
    words += dirty_words

# frequency distribution
freq_dist = nltk.FreqDist(words)

# top 30 words
top30 = freq_dist.most_common(30)

# table of top 30 words
x = PrettyTable()
x.title = 'Top 30 Words'
x.field_names = ['Word', 'Count']
x.add_rows(top30)
print(x)

+-----------------------+
|      Top 30 Words     |
+---------------+-------+
|      Word     | Count |
+---------------+-------+
|     outage    |  421  |
|      the      |  296  |
|       to      |  294  |
|       a       |  269  |
|       in      |  211  |
|     power     |  210  |
|      for      |  163  |
|       is      |  156  |
|       rt      |  154  |
|      and      |  145  |
|       an      |  137  |
|      are      |  102  |
|       of      |   98  |
|       we      |   96  |
|       i       |   87  |
|       be      |   85  |
|       on      |   71  |
|       at      |   69  |
| @citypowerjhb |   67  |
|      you      |   66  |
|    internet   |   64  |
|      this     |   63  |
|       my      |   57  |
|       it      |   54  |
|      have     |   50  |
|      has      |   48  |
|     there     |   48  |
|      your     |   47  |
|      been     |   46  |
|      out      |   45  |
+---------------+-------+

**2. Find the most popular tweets in your collection of tweets**

Please plot a table of the top 10 tweets that are the most popular among your collection, i.e., the tweets with the largest number of retweet counts.

In [12]:
"""
Given a list of tweet objects, returns a list of unique tuples that contain, for each tweet:
    1. The text in the tweet
    2. The number of retweets for the tweet
"""
def get_tweets_rt_count(data):
    tweets = []
    rt_counts = []

    for tweet in data:
        tweets.append(tweet['text'])
        rt_counts.append(tweet['retweet_count'])

    return list(set(zip(tweets, rt_counts)))

In [13]:
"""
Returns the second item in a tuple containing the text of a tweet and the number of retweets for the tweet.
"""
def rt_count(text_rt_tuple):
    return tup[1]

In [11]:
from tables import *
import numpy as np

# retrieve data/unpickle
pickle_off = open("outages.pickle","rb")
outages = cloudpickle.load(pickle_off)

# get only the tweets and retweet count
tweets_rts = get_tweets_rt_count(outages)
print(tweets_rts[0])

# sort by retweet count
tweets_rts.sort(reverse=True,key=rt_count)

# top 10 table
top10 = tweets_rts[:10]

x = PrettyTable()
x.title = 'Top 10 Most Popular Tweets'
x.field_names = ['Tweet', 'Retweet Count']
x.add_rows(top10)
x._max_width = {"Tweet" : 50, "Retweet Count" : 25}
x.hrules = 1
print(x)

('We are aware of an outage at Lotus 88/11kV SS. Start time 23:09. https://t.co/Qfbt2xQIlB', 0)
+--------------------------------------------------------------------+
|                     Top 10 Most Popular Tweets                     |
+----------------------------------------------------+---------------+
|                       Tweet                        | Retweet Count |
+----------------------------------------------------+---------------+
|   RT @JFriks: So what movie got stocked in while   |      333      |
|  there was power outage? https://t.co/N8nIEmIRWo   |               |
+----------------------------------------------------+---------------+
| RT @Abramjee: Police are looking for these two men |      272      |
| who pretended to be @CityPowerJhb employees. They  |               |
|       went to a substation chamber in Selby…       |               |
+----------------------------------------------------+---------------+
| RT @PARInetwork: Today when #4G services have been |      100      |
|  restored in Jammu and Kashmir, here's a look at   |               |
|     how the internet outage affected the peo…      |               |
+----------------------------------------------------+---------------+
|    RT @weiwuxiansnose: "Outage" by SugarMilkTea    |       85      |
|                                                    |               |
|   🔌 what do you get when you mix one (1) horny    |               |
| bastard and one (1) city boy who's never experie…  |               |
+----------------------------------------------------+---------------+
| RT @DougMadory: Internet in Myanmar has gone down  |       73      |
|  a 2nd time in 6 days. This time far more severe   |               |
|                     than last.                     |               |
|                                                    |               |
|           Previous outage was focused o…           |               |
+----------------------------------------------------+---------------+
|         RT @ReadyNJ: Winter Weather Update         |       40      |
|    ❄️Follow @NWS_MountHolly &amp; @NWSNewYorkNY     |               |
|          ❄️Traffice updates @NewJerseyDOT           |               |
|              https://t.co/Z29sBX8YGa               |               |
|                        ❄️Ch…                        |               |
+----------------------------------------------------+---------------+
|   RT @opg: After a record breaking 3 year run of   |       28      |
|   generating clean carbon-free power, Unit 1 at    |               |
|  Darlington Nuclear is taking a well-deserved m…   |               |
+----------------------------------------------------+---------------+
|   RT @EAFIFAMOBILE: Active listings will not be    |       16      |
|  cancelled or delayed during the outage. Listings  |               |
|   that were set to expire during the outage wi…    |               |
+----------------------------------------------------+---------------+
|  RT @OpenObservatory: Today Myanmar appears to be  |       15      |
| experiencing an internet outage, as shown through  |               |
|            several public data sources:            |               |
|                                                    |               |
|                    • @caida_i…                     |               |
+----------------------------------------------------+---------------+
|  RT @NAofSFM: Use flashlights, not candles if you  |       12      |
| have a power outage. #CandleSafety #FirePrevention |               |
|      #FireSafetyTips https://t.co/C35IWEAI32       |               |
+----------------------------------------------------+---------------+

**3. Find the most popular Tweet Entities in your collection of tweets**

Please plot a table of the top 10 hashtags, top 10 user mentions that are the most popular in your collection of tweets.

In [23]:
#----------------------------------------------
# Your code starts here
#   Please add comments or text cells in between to explain the general idea of each block of the code.
#   Please feel free to add more cells below this cell if necessary
#Katie/Bryson

#gather up all of the mentioned users and hashtags

hashtags = [ hashtag['text']
             for status in statuses
                 for hashtag in status['entities']['hashtags'] ]

mentioned_user = [user_mention['screen_name']
                 for status in statuses
                     for user_mention in status['entities']['user_mentions']] #this collects all user mentions

#count how many times each hashtag is used and user is mentioned

for item in [hashtags, mentioned_user]:
    c = Counter(item)
    print(c.most_common()[:10]) # top 10
    print()
    
#format the data into a pretty table

for label, data in (('Hashtags', hashtags),
                    ('Mentioned Users', mentioned_user)):
    pt = PrettyTable(field_names=[label, 'Count'])
    c = Counter(data)
    [ pt.add_row(kv) for kv in c.most_common()[:10] ]
    pt.align[label], pt.align['Count'] = 'l', 'r' # Set column alignment
    print(pt)

[('WellingtonOPP', 9), ('WellingtonCounty', 8), ('Outage', 6), ('Guelph', 6), ('cryptocurrency', 4), ('Mets', 4), ('BREAKING', 3), ('JoburgUpdates', 2), ('StoneyCreek', 2), ('poweroutage', 2)]

[('JustRyCole', 48), ('CityPowerJhb', 48), ('BauerOutage', 11), ('PHEDconnect', 9), ('OPP_WR', 8), ('opg', 8), ('PSLToFlushing', 7), ('virginmedia', 6), ('GuelphHydro', 6), ('SkyHelpTeam', 6)]

+------------------+-------+
| Hashtags         | Count |
+------------------+-------+
| WellingtonOPP    |     9 |
| WellingtonCounty |     8 |
| Outage           |     6 |
| Guelph           |     6 |
| cryptocurrency   |     4 |
| Mets             |     4 |
| BREAKING         |     3 |
| JoburgUpdates    |     2 |
| StoneyCreek      |     2 |
| poweroutage      |     2 |
+------------------+-------+
+-----------------+-------+
| Mentioned Users | Count |
+-----------------+-------+
| JustRyCole      |    48 |
| CityPowerJhb    |    48 |
| BauerOutage     |    11 |
| PHEDconnect     |     9 |
| OPP_WR          |     8 |
| opg             |     8 |
| PSLToFlushing   |     7 |
| virginmedia     |     6 |
| GuelphHydro     |     6 |
| SkyHelpTeam     |     6 |
+-----------------+-------+

# Problem 3 (20 points): Getting "All" friends and "All" followers of a popular user in twitter

* choose a popular twitter user who has many followers, such as "ladygaga".
* Get the list of all friends and all followers of the twitter user.
* Plot 20 out of the followers, plot their ID numbers and screen names in a table.
* Plot 20 out of the friends (if the user has more than 20 friends), plot their ID numbers and screen names in a table.

In [121]:
#----------------------------------------------
# Your code starts here
#   Please add comments or text cells in between to explain the general idea of each block of the code.
#   Please feel free to add more cells below this cell if necessary

import time
from prettytable import PrettyTable

# Get followers
friend_cursor = -1
follower_cursor = -1

user = "TweetWorcester"

number_of_users_to_collect = 300

searches = 0

followers = []
friends = []
while friend_cursor != 0 and follower_cursor != 0 and number_of_users_to_collect != 0:
    try:
        count = 200
        if number_of_users_to_collect < 200:
            count = number_of_users_to_collect
        
        if follower_cursor != 0:
            res_follower = twitter_api.followers.list(screen_name=user, 
                                                      cursor=follower_cursor, 
                                                      count=count)
            
            followers += [{"screen_name": u["screen_name"], "id": u["id"]} for u in res_follower['users']]
            follower_cursor = res_follower["next_cursor"]
                        
        if friend_cursor != 0:            
            res_friends = twitter_api.friends.list(screen_name=user, 
                                                   ursor=friend_cursor, 
                                                   count=count)
            
            friends += [{"screen_name": u["screen_name"], "id": u["id"]}for u in res_friends['users']]
            friend_cursor = res_friends["next_cursor"]
        
        searches += 1
        number_of_users_to_collect -= count
    except twitter.api.TwitterHTTPError:
        print("Waiting...")
        rates = twitter_api.application.rate_limit_status()
        
        time_left = rates["resources"]["followers"]["/followers/list"]["reset"] - time.time()
        
        time.sleep(time_left + 2)

In [115]:
def generate_user_table(data, title, length=20):
    table = PrettyTable(["Screen Name", "Id"])
    table.title = title
    
    if len(data) < length:
        length = len(data)
        
    for i in range(length):
        row = data[i]
        table.add_row([row["screen_name"], row["id"]])
    
    return table

In [102]:
time.time()

1612548034.287955

In [118]:
from prettytable import PrettyTable

friends_table  = generate_user_table(friends, "Friends")
followers_table  = generate_user_table(followers, "Followers")

print(friends_table)
print(followers_table)

+---------------------------------------+
|                Friends                |
+-----------------+---------------------+
|   Screen Name   |          Id         |
+-----------------+---------------------+
|     tedlieu     |       21059255      |
|      wsbmod     | 1282418324228337665 |
|  OldMemeArchive | 1349856571988258826 |
|      POTUS      | 1349149096909668363 |
|    nookipedia   |      213478688      |
|     Pokemon     |       96879107      |
|   staceyabrams  |      216065430      |
|     jschlatt    |      4694011844     |
| ProgressBar202_ |      4685749051     |
|  LeftAccidental | 1303873858936737793 |
|   mcblockdaily  | 1324477660182007810 |
|   StrangestMp4  | 1194413925569159169 |
|  CallMeCarsonYT |      2349536690     |
|  MoistCr1TiKaL  |      559229566      |
|    jacksfilms   |       9989862       |
|    robber0540   |      3086280070     |
|   hasanthehun   |      326756275      |
|   KamalaHarris  |       30354991      |
|     JoeBiden    |        939091       |
|    hankgreen    |       61592079      |
+-----------------+---------------------+
+------------------------------+
|          Followers           |
+-----------------+------------+
|   Screen Name   |     Id     |
+-----------------+------------+
|  ashleybaldw1n  | 3133724330 |
|  srastevensb201 | 885519948  |
|  ABIGAILOKYERE9 | 3432529809 |
|   CKennedy046   | 1541884219 |
|   Alexfang1023  | 2233688410 |
|     ralphpig    | 860254500  |
|   Andrew02445   | 1457343038 |
| screamingdonuts | 1319192641 |
|     tang_meg    |  11726682  |
|     mmbtang     |  11699752  |
+-----------------+------------+

* Compute the mutual friends within the two groups, i.e., the users who are in both friend list and follower list, plot their ID numbers and screen names in a table

In [122]:
#----------------------------------------------
# Your code starts here
#   Please add comments or text cells in between to explain the general idea of each block of the code.
#   Please feel free to add more cells below this cell if necessary

mutual = []
for u in followers:
    for r in friends:
        if u['id'] == r["id"]:
            mutual.append(u)
            
mutual_table  = generate_user_table(mutual, "Mutual")

print(mutual_table)

+-----------------------------+
|            Mutual           |
+----------------+------------+
|  Screen Name   |     Id     |
+----------------+------------+
| ashleybaldw1n  | 3133724330 |
| srastevensb201 | 885519948  |
|    ralphpig    | 860254500  |
|    tang_meg    |  11726682  |
|    mmbtang     |  11699752  |
+----------------+------------+

*------------------------

# Problem 4 (20 points): Business question 

Run some additional experiments with your data to gain familiarity with the twitter data and twitter API.

* Come up with a business question that Twitter data could help answer.
* Decribe the business case.
* How could Twitter data help a company decide how to spend its resources.

In [74]:
#----------------------------------------------
# Your code starts here
#   Please add comments or text cells in between to explain the general idea of each block of the code.
#   Please feel free to add more cells below this cell if necessary
import pandas as pd
import numpy as np

q = 'snow AND outage'
#q = "andrew"
# lat = "42.2743"
# long = "-71.8081"
# rad = "50mi"
# geocode = lat + "," + long + "," + rad

# remaining_searches = rates["resources"]["search"]["/search/tweets"]["remaining"]
remaining_searches = 5
count = 1000
statuses = []
# See https://dev.twitter.com/docs/api/1.1/get/search/tweets
for i in range(remaining_searches):
    search_results = twitter_api.search.tweets(q=q, count=count)

    statuses += search_results['statuses']

In [80]:
outages = {}
for i in range(len(statuses)):
    if statuses[i]["user"]["location"]:
        if statuses[i]["user"]["location"] in outages:
            outages[statuses[i]["user"]["location"]] += 1
        else:
            outages[statuses[i]["user"]["location"]] = 1
            
# data = list(outages.items())
# an_array = np.array(data)
df = pd.DataFrame(list(outages.items()), columns=["Location", "Count"]).sort_values(by="Count", ascending=False)

In [81]:
df

                      Location  Count
7                  Chicago, IL     20
18                Brooklyn, NY     15
10                          NJ     10
38           Kurdistan, Europe     10
43                New York, NY     10
..                         ...    ...
30                  Pittsburgh      5
31                 Seattle, WA      5
32             New Jersey, USA      5
33            read pinned byf!      5
67  the Shore, NJ, Philly, NYC      5

[68 rows x 2 columns]

305.78343391418457

*-----------------
# Done

All set! 

** What do you need to submit?**

* **Notebook File**: Save this IPython notebook, and find the notebook file in your folder (for example, "filename.ipynb"). This is the file you need to submit. Please make sure all the plotted tables and figures are in the notebook. If you used "ipython notebook --pylab=inline" to open the notebook, all the figures and tables should have shown up in the notebook.


* **PPT Slides**: please prepare PPT slides (for 15 minutes' talk) to present about the case study . We will ask two teams which are randomly selected to present their case studies in class for this case study. 

Please compress all the files in a zipped file.


** How to submit: **

        Please submit through email to Prof. Paffenroth (rcpaffenroth@wpi.edu).

#### We auto-process the submissions so make sure your subject line is *exactly*:

### DS3010 Case Study 1 Team ??

#### where ?? is your team number.
        
** Note: Each team just needs to submits one submission **

# Grading Criteria:

**Totoal Points: 100**


---------------------------------------------------------------------------
**Notebook results:**
    Points: 80


    -----------------------------------
    Question 1:
    Points: 20
    -----------------------------------
    
    -----------------------------------
    Question 2:
    Points: 20
    -----------------------------------
        
    -----------------------------------
    Question 3:
    Points: 20
    -----------------------------------
  
    -----------------------------------
    Question 4:  Business question
    Points: 20
    -----------------------------------
        Novelty: 10
        Interestingness: 10
    -----------------------------------
    Come up with a business question and describe how Twitter data and a NoSQL database such as MongoDB call help you anser it.


---------------------------------------------------------------------------
**Slides (for 10 minutes of presentation): Story-telling**
    Points: 20


1. Motivation about the data collection, why the topic is interesting to you.
    Points: 5 

2. Communicating Results (figure/table)
    Points: 10 

3. Story telling (How all the parts (data, analysis, result) fit together as a story?)
    Points: 5